$white: #fff;
$spinner-color: #767676;
$search-submit-color: #0005FF;
$search-font-size: 18px;
$black: #000000;
$primary-bg-color: #F2F2F2;
$details-item-color: #B1B1B1;
$details-item-unknown-color: #B1B1B1;
$details-status-dead-color: #FF0000;
$details-status-alive-color: #74ec00;
$active-character: #0005FF;
$error-status: #FF0000
